link( href='http://fonts.googleapis.com/css?family=Expletus+Sans:400,700,600,500', rel='stylesheet', type='text/css')

polymer-element( name='v-login' )
  template
    link( href='/src/styles/common.css', rel='stylesheet', type='text/css' )
    link( href='v-login.css', rel='stylesheet', type='text/css' )
    //- link( href='' )
    m-game#game

    .panel
      #banner( role='banner' ) {{ title }}

      form( role='form' )
        input#username( type='text', placeholder='Username', tabindex='1', role='textbox' )
        input#password( type='password', placeholder='Password', tabindex='2', role='textbox' )

        button#signup( tabindex='4', role='button' ) Sign Up
        button#login( tabindex='3', role='button', on-click='onLogin' ) Login

        //- TODO: Open a "forgot password" panel
        //- a#forgotPassword( href="#", onclick="return false" ) Forgot password?

  :coffeescript
    Polymer 'v-login',
      onLogin: ->
        
        

      ready: ->
        # Focus onto username input
        @asyncMethod -> @$.username.focus()

        # Type the 'Transliteration' login banner
        @title = ''
        fullTitle = Array::slice.call 'transliteration'
        addLetter = =>
          setTimeout (=>
            @title += fullTitle.shift()
            Platform.performMicrotaskCheckpoint()
            addLetter() if fullTitle.length
          ), 100
        addLetter()


