polymer-element( name='v-challenge-selection' )

  template
    link( rel='stylesheet', href='v-challenge-selection.css' )
    .banner(role='banner') Challenges
      

  script( src='v-challenge-selection.js' )