polymer-element( name='newtodo-input', type='text', \attributes='placeholder value' )

  template
    link(rel='stylesheet', href='../styles/buttons.css')
    link(rel='stylesheet', href='newtodo-input.css')

    input(placeholder='{{ placeholder }}', value='{{ value }}')

    template(if='{{ value.length }}')
      .clearInput.btn-cancel(on-click='onClearInput')

  :coffeescript
    Polymer 'newtodo-input',
      onClearInput: -> @value = ''
