polymer-element(name='todos')
  link(rel='import', href='../models/m-todos.html')
  link(rel='import', href='newtodo-input.html')
  link(rel='import', href='todo-item.html')
  script(src='../helpers/ArrayReduction.js')

  template 
    link(rel='stylesheet', href='todos.css')

    m-todos#model

    .inputWrap
      newtodo-input#newTodo(placeholder='Enter new todo', on-keypress='onNewTodoKeypress')

    form.todos
      template(repeat='{{ item in computed.filtered }}')
        todo-item(item='{{ item }}', on-deletetodo='onDeleteTodo')

    .todosFooter
      .filterGroup(class='{{ filterOn }}')
        a.filter.all(href='../#/all')
          | All

        a.filter.active(href='../#/active')
          | Active

        a.filter.complete(href='../#/complete')
          | Complete

      template(bind='{{ computed }}')
        .activeCount(hidden?='{{ !activeCount }}')
          | <b>{{ activeCount }}</b> left
        .completedCount(hidden?='{{ !completedCount }}', on-click='onClearCompleted')
          | Clear completed ({{ completedCount }})
        

  script(src='todos.js')