polymer-element( name='v-todos' )
  link( rel='import', href='../models/m-todos.html' )
  link( rel='import', href='v-newtodo-input.html' )
  link( rel='import', href='v-todo-item.html' )
  script( src='../helpers/ArrayReduction.js' )

  template 
    link( rel='stylesheet', href='v-todos.css' )
    
    m-todos#model

    #todos
      template(repeat='{{ item in computed.filtered }}')
        v-todo-item(item='{{ item }}', on-deletetodo='onDeleteTodo')

    //- TODO: new polymer-element
    .banner
      button.btn-compose-newTodo &nbsp;
      button.btn-settings &nbsp;
      .title List Name


  script(src='v-todos.js')