polymer-element(name='v-todos')
  link(rel='import', href='../models/m-todos.html')
  link(rel='import', href='v-newtodo-input.html')
  link(rel='import', href='v-todo-item.html')
  script(src='../helpers/ArrayReduction.js')

  template 
    link(rel='stylesheet', href='v-todos.css')
    
    m-todos#model

    //- TODO: new polymer-element
    .banner
      button.btn-compose-newTodo &nbsp;
      button.btn-settings &nbsp;
      .title List Name

    //- TODO: Add this back, but make it modal-ly (can't interact with other todos)
    //- .inputWrap
    //-   v-newtodo-input#newTodo(placeholder='Enter new todo', on-keypress='onNewTodoKeypress')

    form#todos
      template(repeat='{{ item in computed.filtered }}')
        v-todo-item( item='{{ item }}', on-deletetodo='onDeleteTodo')

  script(src='v-todos.js')