@import 'buttons';
@import 'colors';
@import 'constants';

@host {
  * {
    display: block;
    color: #444;
    font-size: 16px;
    background-color: $color-white;
    overflow: scroll;
  }
}

.todo {
  border-bottom: 1px solid $grayscale-4;
  box-shadow: none;
  color: $grayscale-0;
  cursor: pointer;
  display: block;
  padding: 1em;
  text-decoration: none;
}
