polymer-element(name='v-todo-item', extends='li', \attributes='editing item')
  link(rel='import', href='v-todo-input.html')

  template
    link(rel='stylesheet', href='v-todo-item.css')

    .wrap(class='{{ editing:editing }}')

      .basicPanel
        template(if="{{ editing }}")
          button.btn-close(on-click='onEndEditingTodo') x

        .deleteTodo.btn-cancel(on-click='onDeleteTodo')

        .editTodoTextWrap
          input.editTodoText(is='v-todo-input', value='{{ item.text }}', on-focused='onStartEditingTodo')

      template(if="{{ editing }}")
        .detailedPanel
          .header NOTES
          .section
            textarea.notes(value='{{ item.notes }}', placeholder='Leave yourself a note...')


  :coffeescript
    Polymer 'v-todo-item',
      ready: ->
        @editing = false

        # TODO: remove me, just for dev
        # @asyncMethod ->
        #   @editing = @item.text is 'ONE'

      onEndEditingTodo:   -> @editing = false
      onStartEditingTodo: -> @editing = true
      onDeleteTodo: ->
        @fire 'deletetodo', @item
