@import 'colors';
@import 'constants';
@import 'buttons';

@host {
  * {
    display: block;
    min-height: 54px;
    font-size: 16px;
  }
}

#btnBack {
  cursor: pointer;
  position: absolute;
  z-index: 4;
  top: 5px;
  left: 0;

  color: $grayscale-2;
  background-color: rgba(0,0,0,.75);
  text-align: center;
  line-height: 34px;
  height: 38px;
  font-weight: bold;
  font-size: 26px;
  border-radius: 0 3px 3px 0;
  padding: 0 12px 0 8px;

  // TODO ease?
  -webkit-transition: -webkit-transform ($animation-duration/2) ease;
  -webkit-transform: translate3d(-100%,0,0);

  &.editing {
    -webkit-transform: translate3d(0,0,0);
  }
}
    

#wrap {
  position: absolute;
  bottom: 0px;
  top: 0px;
  left: 0px;
  right: 0px;
  padding: 0 5px;
  z-index: 3;
  background-color: rgba(0,0,0,0);
  -webkit-transition: background-color $animation-duration ease;

  &:before {
    content: '';
    height: 101%;
    width: 0;
    float: left;
  }

  &.editing {
    background-color: rgba(0,0,0,0.75);
    padding: 0 5px;
    // HACK(iOS)? If we apply this to #wrap (all the time),
    //            iOS -webkit-overflow-scrolling:touch doesn't work...
    overflow: scroll;

    > #panelContainer {
      // HACK? If we put the transition on non-editing class of #panelContainer
      //       the transition doesn't run... weird.
      -webkit-transition: -webkit-transform $animation-duration;
      height: auto;
      z-index: 2;

      > .basicPanel {
        background-color: $color-white;
        border-bottom: 1px solid $grayscale-3;
        margin-top: 48px;
        padding: 17px 12px;

        > #editTodoText {
          display: block;
        }

      }

      > .detailedPanelContainer {

        > #detailedPanel {
          -webkit-transform: translate3d(0,0,0);

          > .header {
            background-color: $grayscale-4;
            padding: 5px 12px;
            font-size: .6em;
            color: $grayscale-1;
          }

          > .section {
            position: relative;
            padding: 10px 9px;

            > .notes {
              border: none;
              border-radius: 0;
              font-size: inherit;
              margin: 0;
              outline: none;
              padding: 0;
              width: 100%;
              color: $grayscale-0;

              &::-webkit-input-placeholder {
                font-style: italic;
                color: $grayscale-2;
              }
            }
          }
        }
      }
    }
  }

  &.bgout {
    background-color: rgba(0,0,0,0);
  }

  > #panelContainer {
    position: relative;
    height: 54px;
    overflow: hidden;
    z-index: 1;
    color: $grayscale-0;

    > .basicPanel {
      padding: 17px 17px;
      z-index: 2;

      > #editTodoText {
        display: none;
        font-size: inherit;
        outline: none;
        border: none;
        padding: 0;
        margin: 0;
        width: 100%;
        color: $grayscale-0;
      }

      > .doneTodo {
        float: left;
        margin-top: 5px;
        margin-right: 10px;
      }
    }

    > .detailedPanelContainer {
      overflow: hidden;

      > #detailedPanel {
        -webkit-transition: -webkit-transform $animation-duration ease;
        -webkit-transform: translate3d(0,-100%,0);
        background-color: $color-white;
      }
    }
  }
}