polymer-element( name='v-todo-input', extends='input', on-blur='onBlur', on-focus='onFocus', on-keyup='onKeyup', type='text' )
  :coffeescript
    Polymer 'v-todo-input',
      onBlur: ->
        @fire 'blurred'

      onFocus: ->
        @fire 'focused'

      onKeyup: (ev)->
        if ev.which is 13
          @fire 'blurred', true
          @asyncMethod @blur