polymer-element( name='v-todo-item', extends='li', \attributes='item' )
  link( rel='import', href='v-todo-input.html' )

  template
    link( rel='stylesheet', href='v-todo-item.css' )

    template( if="{{ editing }}" )
      .btn-back( on-click="onEndEditingTodo" )
        | &lt;

    #wrap( on-click='onStartEditingTodo' )

      #blackbg

      #panelContainer

        .basicPanel
          .deleteTodo.btn-cancel( on-click='onDeleteTodo' )

          .editTodoTextWrap
            input#editTodoText.editTodoText( is='v-todo-input', value='{{ item.text }}', on-focused='onStartEditingTodo' )
            a.editTodoTextReadOnly
              | {{ item.text }}

        //- TODO: extract into new element
        .detailedPanelContainer
          #detailedPanel
            .header NOTES
            .section
              textarea.notes( value='{{ item.notes }}', placeholder='Leave yourself a note...' )


  :coffeescript
    ANIMATION_DURATION_MS = 400
    Polymer 'v-todo-item',
      item: undefined
      editing: false
      ready: ->
        @editing = false
        # TODO: remove me, just for dev
        # @asyncMethod ->
        #   @editing = @item.text is 'TWO'

      onEndEditingTodo: ->
        # Animation start
        @$.panelContainer.setAttribute 'style', "-webkit-transform: translate3d(0,#{@offsetTop - 48 - document.body.scrollTop}px,0);"
        @$.detailedPanel.setAttribute 'style', '-webkit-transform: translate3d(0,-480px,0);'
        @$.blackbg.setAttribute 'style', 'opacity: 0'

        setTimeout (=>
          @editing = false
          @$.panelContainer.setAttribute 'style', ''
          @$.detailedPanel.setAttribute 'style', ''
          @$.blackbg.setAttribute 'style', ''
          @$.wrap.classList.remove 'editing'
        ), ANIMATION_DURATION_MS

      onDeleteTodo: ->
        @fire 'deletetodo', @item

      onStartEditingTodo: ->
        unless @editing
          # Animation before start
          @$.panelContainer.setAttribute 'style', "-webkit-transform: translate3d(0,#{@offsetTop - 48 - document.body.scrollTop}px,0);"
          @$.detailedPanel.setAttribute 'style', '-webkit-transform: translate3d(0,-480px,0);'

          requestAnimationFrame =>
            # Animation start
            @$.panelContainer.setAttribute 'style', '-webkit-transform: translate3d(0,0,0);'
            @$.detailedPanel.setAttribute 'style', '-webkit-transform: translate3d(0,0,0);'
            @$.wrap.classList.add 'editing'
            setTimeout (=>@editing = true), ANIMATION_DURATION_MS
