polymer-element( name='m-challenges' )
  :coffeescript
    challenge = (c)->c

    Polymer 'm-challenges',

      # TODO: Load todos from localstorage or REST resource
      challenges: [

        challenge
          name: 'Intro'
          description: 'Getting your feet wet.'
          available: (userProfile)-> true

        challenge
          name: 'Easy'
          description: 'Not a problem.'
          available: (userProfile)->
            #TODO: Check whether or not the 'Intro' challenge
            #      has been completed in the userProfile.
            true

        challenge
          name: 'Medium'
          description: 'Eh.'
          available: (userProfile)->
            #TODO: Check whether or not the 'Easy' challenge
            #      has been completed in the userProfile.
            true

        challenge
          name: 'Hard'
          description: 'Work for it.'
          available: (userProfile)->
            #TODO: Check whether or not the 'Easy' challenge
            #      has been completed in the userProfile.
            false

      ]
