polymer-element( name='m-game' )
  :coffeescript
    'use strict'

    # Regex that window.location.hash should match:
    #   #/{hash:string}?{data:JSON}
    RX_HASH = /^#\/([^?]+)(\?(.*))?/

    # Map of ALL valid stats
    state_initData_map =
      'login': -> {}
      'challenge-selection': -> {}

    # Initialize the state to login state
    state =
      id: 'login'
      data: state_initData_map['login']()

    onHashChange = ->
      match = RX_HASH.exec(window.location.hash)
      id = data = initData = undefined

      # Verify new hash is valid (maps to a state)
      if match and (id = match[1]) and (initData = state_initData_map[id])

        try data = JSON.parse match[3]
        if data
          state.id = id
          state.data = data

        else
          window.location.hash = "#/#{id}?#{JSON.stringify initData()}"

      # Default location is '#/login'
      else
        window.location.hash = '#/login';

    window.addEventListener 'hashchange', onHashChange
    onHashChange()

    Polymer 'm-game', {state}