polymer-element( name='m-todos' )
  :coffeescript
    Polymer 'm-todos',

      # TODO: Load todos from localstorage or REST resource
      items: 
        for i in [0..15]
          text: "Do this #{i}"
          done: false
          notes: "Notes for #{i}"

      addTodo: ({text,done})->
        @items.unshift {text,done,$new:true}

      removeTodo: (todo)->
        if -1 < id = @items.indexOf todo
          @items.splice id, 1

      clearCompleted: ->
        i=0
        items = @items
        `for(;i<items.length;++i){`
        if items[i].done
          items.splice i, 1
          --i
        `}`
        return
