polymer-element( name='m-todos' )
  :coffeescript
    Polymer 'm-todos',

      # TODO: Load todos from localstorage or REST resource
      todos:
        for i in [0..15]
          text: "Do this #{i}"
          done: false
          notes: "Notes for #{i}"

      addTodo: ({text,done})->
        @todos.unshift newTodo = {text,done}
        newTodo

      removeTodo: (todo)->
        if -1 < id = @todos.indexOf todo
          @todos.splice id, 1

      clearCompleted: ->
        i=0
        todos = @todos
        `for(;i<todos.length;++i){`
        if todos[i].done
          todos.splice i, 1
          --i
        `}`
        return
