polymer-element( name='m-todos' )
  :coffeescript
    Polymer 'm-todos',

      # TODO: Load todos from localstorage or REST resource
      items: [
          {text: 'ONE', done: false}
          {text: 'TWO', done: false, notes:'blah blah blah blah blah blah'}
          {text: 'THREE', done: true}
          {text: 'FOUR', done: false}
        ]

      addTodo: ({text,done})->
        @items.push {text,done}

      removeTodo: (todo)->
        if -1 < id = @items.indexOf todo
          @items.splice id, 1

      clearCompleted: ->
        i=0
        items = @items
        `for(;i<items.length;++i){`
        if items[i].done
          items.splice i, 1
          --i
        `}`
        return
