!!!
html(lang='en')
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge,chrome=1')
    title todomvc-p
    script(src='../vendor/polymer/polymer.js')
    link(rel='import', href='views/el-with-external-script.html')
    link(rel='import', href='views/multi-el-defs.html')
  body
    el-with-external-script
    el-def1
    el-def2