!!!
html(lang='en')
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge,chrome=1')
    title [todomvc] polymer-experiments
    script(src='../vendor/polymer-all/polymer/polymer.js')
    link(rel='stylesheet', href='index.css')
    link(rel='import', href='views/todos.html')

  body
    header#banner
      h1 todos

    todos#todos

    footer#info
      p Click to edit a todo
      p Created by 
        a(href="https://github.com/peterwmwong") Peter Wong

    //- livereload
    script.
      document.write('<script src="http://' + (location.host || 'localhost').split(':')[0] + ':35729/livereload.js?snipver=1"></' + 'script>')
    