@import 'colors.scss';
@import 'constants.scss';

html {
  background-color: #EEE;
  font-family: $font-content;
  height: 100%;
  -webkit-tap-highlight-color: rgba(255,255,255,0);
}

body {
  font-size: 16px;
  margin: 0;
  height: 100%;

  > #app {
    border-bottom: 1px solid #DDD;
  }
}