@import 'gradient';

@mixin button($color-main) {
  background-color: $color-main;
  border: 1px solid transparent;
  border-radius: 2px;
  cursor: pointer;
  display: inline-block;
  font-size: 1em;
  line-height: 2em;
  padding: 0 .75em;
  margin: 0;

  &:hover, &:focus {
    border: 1px solid darken($color-main, 30%);
    @include gradient($color-main, darken($color-main, 10%) );
  }

  &:active {
    box-shadow: inset 0px 1px 5px darken($color-main, 40%);
    outline: none;
  }
}