$color-black: #000;
$color-white: #FFF;
$color-blue: #0a91ff;
$color-red: #e85c41;
$color-gray-bg: #e5e5e5;
$color-text: #555;

// Darker to lighter
$grayscale-0: #777;
$grayscale-1: #999;
$grayscale-2: #BBB;
$grayscale-3: #DDD;
$grayscale-4: #F3F3F3;